variable "db_user" {
    type = string
    default = "{{ db_user }}"
}
variable "db_name" {
    type = string
    default = "{{ db_name }}"
}
variable "db_user_pass" {
    type = string
    default = "{{ db_user_pass }}"
}