<!doctype html>
<style>
    table, th, td {
      border:1px solid black;
    }
    </style>
<body>
<h1 >Itunes data shipper</h1>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('#refresh_button').bind('click', function() {
          $('#refresh_button').text('Data is updating...');
          $('#refresh_button').attr('disabled','disabled');

$.ajax({
                url: '/update',
                async: true,
                type: "get",
                success: function(data){
                    alert("Updated");
                   location.reload();
                }
            });
            return false;
          });
        });
</script>

</div>
<div class="contraiter">
 <div class="row">
   <div class="col-12 col-sm-8 mx-auto">

        <button class="btn btn-dark mt-4" id='refresh_button'>Update data</button>

<table style="width:100%">
  <Caption style="font-size: xx-large;"> The Beatles music from itunes</Caption>
  <thead >
    <tr>
		<th>Kind</th>
		<th>Collection name</th>
		<th>Track name</th>
		<th>Collection price</th>
		<th>Track price</th>
		<th>Genre</th>
		<th>Track count</th>
    <th>Track number</th>
    <th>Release date</th>
  </thead>
  <tbody>  
    {% for row in data %}
        <tr>
            <td>{{ row.kind }}</td>
            <td>{{ row.collectionName }}</td>
            <td>{{ row.trackName }}</td>
            <td>{{ row.collectionPrice }}</td>
            <td>{{ row.trackPrice }}</td>
            <td>{{ row.primaryGenreName }}</td>
            <td>{{ row.trackCount }}</td>
            <td>{{ row.trackNumber }}</td>
            <td>{{ row.releaseDate }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
  </div>
 </div>
</div>
